.json-display {
  display: flex;
  flex-direction: column;
  font-family: monospace;
}
.key {
  font-size: 16px;
  color: #888;
  font-family: monospace;
}

#value {
  font-size: 16px;
  color: #eee;
  font-family: monospace;
}